.top-head{
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(43,43,43,1) 84%);
}
.navbar{
    background: rgb(43,43,43);
background: linear-gradient(180deg, rgba(43,43,43,1) 16%, rgba(14,14,14,1) 50%);
border-top-left-radius: 18px;

}
.navbar-light .navbar-nav .nav-link {
    color: white!important;
    font-family: 'Duepuntozero', sans-serif;
    font-size: 19px;
}
.head-icon{
    width: 20px;
}
.btn-color{
    background-color: #20ace2;
    color: white;
    border: none;
    font-family: 'D-DIN Condensed', sans-serif;
    font-size: 22px;
}
button:focus{
    outline: 0;
    border:none;
}
.btn-slider{
    border: none;
    outline: 0;
    background-color: #ec0b8c;
    color: white;
    font-family: 'Duepuntozero', sans-serif;
    font-size: 25px;
    border-radius: 20px;
    padding-left: 27px;
    padding-right: 27px;
}
.span-content{
    font-family: 'Ananda Black', sans-serif;
    font-size: 29px;
}
.p-content{
    font-size: 30px;
    font-family: 'D-DIN Condensed', sans-serif;
}

.toggle-cat{
    width:22px
}
.item-cat a{
    color: black;
    font-size: 16px;
    font-family: 'Duepuntozero', sans-serif;
}
.accordion-body{
    background-color: #f1d4e5;
   
    
}
.logo{
    width: 100%;
}
.second-block .second-content .p-content{
    padding-right: 18px;
    padding-top: 6px;
    line-height: 1;
   
    
}
.second-content{
   justify-content: center;
   background: rgba(0, 0, 0, 0.5);
   width: 100%;
   height: 85px;
}
.back-first{
    background-image: url(../../img/first-back.png);
   min-height: 85px;
}
.second-block .second-content .shop-now{
    border-radius: 10px;
    line-height: 0.5;
    height: 30px;
    text-align: center;
  
}
.card-text{
    font-family: 'Duepuntozero ';
    font-size: 13px;
}
.nav-link{
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-family: 'Duepuntozero bold', sans-serif;
}
.icons{
    width: 20px;
    margin-right: 12px;
}
.icon-cat{
    background: #ec0b8c;
    margin: 0;
    height: 53px;
    padding-left: 10px;
    color: white;
    font-family: 'Duepuntozero', sans-serif;
    font-size: 33px;
}

  
.icon{
   
    
    display: inline-flex;
    transform: rotate(97deg);
    margin-left: -29px;

  }
.bleu{
    border-top: 10px solid #20ace2;
    width: 37px;
}
   
.pink{
    border-top: 10px solid #ec0b8c;
    width: 27px;
  }
.item-nav::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ec0b8c;
    transition: width .3s;
}
.item-nav:hover::after{
    width: 100%;
}
.carousel-inner {
    max-height: 609px !important
    
}
.carousel-caption {
    bottom: 47%;
}
.text-main{
    font-size: 21px;
    margin-left: 19px;
    
}
.accordion-button:not(.collapsed) {
    color: black!important; 
   border: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     color: #fff; 
     background-color: #20ace2; 
     
}
.card{
    margin: 25px;
}
.accordion-button{
    font-family: 'Duepuntozero bold', sans-serif;
    border: none;
}
h3{
    font-family: 'Duepuntozero bold', sans-serif;
    font-size:35px;
}


.accordion-header:hover{
    background-color:  #ec0b8c;
    color: white!important;
    

}
.accordion-button:hover{
   color: white; 
}
.accordion-button:focus {
     z-index: 0!important; 
    border: none;
    border-color: none;
    box-shadow: none; 
    outline: 0!important;
}
.nouveautes{
    background: #20ace2;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
  
}
.icon-2{
   display: flex;
    text-align: center;
}
.icon-2 .pink{
    border-top: 6px solid #ec0b8c;
    width: 35px;
}
.icon-2 .bleu{
    border-top: 6px solid #20ace2;
    width: 35px;
}
.back-img{
    background-image: url(../../img/back-demande.jpg);
    min-height: 260px;
    background-size: cover;
}
.content-demande{
    background: rgb(106,42,79);
    background: radial-gradient(circle, rgba(106,42,79,0.7959558823529411) 1%, rgba(19,19,18,0.835171568627451) 91%);
    min-height: inherit;
}

.text-devis{
    font-family: 'Duepuntozero', sans-serif;
    font-size: 37px;
}
.btn-devis{
    border-radius: 20px;
    background-color: #ffcd1d;
    border: none;
    font-family: 'Duepuntozero', sans-serif;
    font-size: 27px;
    padding-left: 17px;
    padding-right: 17px;

}
.text-media{
    text-align: justify;
    font-family: 'Duepuntozero', sans-serif;

}
.text-media h4{
    color: #ed1b93;
    font-family: 'Duepuntozero bold', sans-serif;
    font-size: 30px;
}
footer{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(104,104,104,1) 0%, rgba(51,51,51,1) 7%);
    font-family: 'Duepuntozero';
    
}
.logo-footer{
    color: #aeaeae;
}
.items-footer{
    display: inline-grid;
}
.items-footer a{
    text-decoration: none;
    color: white;
}
.sociel-media a{
    color:#949090 ;
}
.sociel-media .fab{
    font-size:30px;
}
.navbar-light .navbar-toggler{
    background-color: #20ace2;
}


@media screen and (max-width: 576px) {
    .ms-sm-1{
        margin-left: -5.75rem!important;
        padding-right: 101px;
    }
    .btn-color{
        min-width:  110px;
    }
    
  }
  @media screen and (max-width: 768px) {
   
    .main{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .carousel-caption{
        bottom: 14%;
    }
    .icon {
        display: inline-flex;
        transform: rotate(103deg);
        margin-left: -28px;
    }
    .bleu {
        border-top: 10px solid #20ace2;
        width: 30px;
    }
    .pink {
        border-top: 10px solid #ec0b8c;
        width: 30px;
    }
  }
  @media screen and (max-width: 992px) {
    .carousel-caption{
        bottom: 16%;
    }
  }
 
